* {
    font-family: 'Manrope', sans-serif !important;
    box-sizing: border-box;

  }
  
  a {
    text-decoration: none !important;
  }
  
  .my_profile-bg {
    width: 340px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .my_profile_user-img {
    border-radius: 100%;
    margin-left: -64px;
  }
  
  .property_details-img {
    width: 100%;
  }
  
  @media screen and (max-width: 900px) {
    .my_profile-bg {
        width: 100%;
        border-radius: 15px;
    }
  
    .my_profile_user-img {
        margin-left: 0px;
        margin-top: -64px;
    }
  
    .property_details-img {
        width: 100%;
        height: auto;
    }
  }


  /* body side scroll styling */
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.452);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb:hover{
  background: darkgrey;
  transition: .3s ease;
}