.create-form{
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.formcontrol{
    width: 40%;
}

.left{
    flex: 1;
    text-align: center;

    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}



.right{
    flex: 3;
    padding: 20px;
    .stack{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-around;

        label{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            color: #11142d;
            font-size: 16px;
            margin-bottom: 7px;
    
            .icon{
                cursor: pointer;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .create-form{
        display: block;

        .right{
            .stack{
                flex-direction: column;
                .formcontrol{
                    width: 100%;
                }
            }
        }
    }
}